<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Use this code to log in!</h1>
    <%= @code %>
    <p></p>
  </body>
</html>