
<div class="center jumbotron">
	<div class="outer">
		<%= image_tag "earth_pic.png", :height => '250px' %>
		
		<div class="title">
		<!--Title of website here:-->
		<h1>Anywhere On Earth</h1>
		</div>

		<p><b>You will have access.</b></p>
		<p><b>Always safe, never compromised.</b></p>

<%if user_signed_in?%>
	<%= link_to 'Sign out', destroy_user_session_path,{:method =>:delete}%>
	<%= @test.user_id%>
	<!--need website content here-->
		<h3>Personal Information</h3>
		<button>Passwords</button>
		<button>Documents</button>
		<button>Birthdays</button>
		<button>Addresses</button>	

<%else%>
	
	<%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-lg btn-primary" %>


<%end%>

	</div>

</div>


