
<h1> Your Profile </h1>
<%= @user.first_name %> <%= @user.last_name %>
<%= @user.email %>
<h3>Personal Information</h3>
		<button>Passwords</button>
		<button>Documents</button>
		<button>Birthdays</button>
		<button>Addresses</button>	