
<h1> Welcome <%= @user.first_name%> <%= @user.last_name%> to your page! </h1>


<h3>Personal Information</h3>
		<button><%= @user.email %></button>
		<button>Documents</button>
		<button>Birthdays</button>
		<button>Addresses</button>	